<h1 class="section-title">Customers List</h1>

<button
  (click)="addTestItems()"
  [disabled]="dataSource.data?.length"
  class="list__button"
>
  Add test Items
</button>

<div class="list__table">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.fullName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <mat-header-cell *matHeaderCellDef>phoneNumber</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.phoneNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.age}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="editCol">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon
          (click)="editItem(element.id)"
          class="list__icon list__icon_edit"
          matTooltip="Edit"
          matTooltipPosition="above"
        >
          edit
        </mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deleteCol">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon
          (click)="deleteItem(element.id)"
          class="list__icon list__icon_delete"
          matTooltip="Delete"
          matTooltipPosition="above"
        >
          delete
        </mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsNames; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsNames;"></mat-row>

    <ng-container>
      <th class="list__no-results-message" *matNoDataRow>List is empty (add something...)</th>
    </ng-container>
  </mat-table>
</div>

<mat-paginator
  #paginator
  [hidden]="!dataSource.data?.length"
  [length]="dataSource.data?.length"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  class="list__paginator"
></mat-paginator>
