.section-title {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 32px;
}

.list__button {
  width: fit-content;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #7A5CFA;
  color: #FFFFFF;
  border: none;
  margin-bottom: 16px;

  &:disabled {
    background-color: #9F9F9F;
    cursor: not-allowed;
  }
}

.list__table {
  max-height: 60vh;
  overflow: auto;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

mat-table {
  width: 100%;
}

.mat-header-cell {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.mat-cell {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.mat-column {
  &-id{
    flex: 0 0 7% !important;
    width: 7% !important;
  }

  &-fullName {
    flex: 0 0 20% !important;
    width: 20% !important;
  }

  &-email {
    flex: 0 0 25% !important;
    width: 25% !important;
  }

  &-phoneNumber {
    flex: 0 0 20% !important;
    width: 20% !important;
  }

  &-age {
    flex: 0 0 12% !important;
    width: 12% !important;
  }

  &-edit,
  &-delete {
    flex: 0 0 8% !important;
    width: 8% !important;
  }
}

mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
  padding-right: 0;
}

.list__no-results-message {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 20px 32px;
}

.list__paginator {
  margin-top: 20px;
}

[hidden] {
  display: none !important;
}

.list__icon {
  display: flex;
  flex-direction: row;
  cursor: pointer;

  &_edit {
    color: #68BEDD;
  }

  &_delete {
    color: red;
  }
}

::-webkit-scrollbar {
  background-color: #FFFFFF;
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background-color: #BABAC0;
  border-radius: 16px;
  border: 4px solid #FFFFFF;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #A0A0A5FF;
  border:4px solid #F4F4F4;
}
