<nav class="header">
  <div class="header__box">
    <button [routerLinkActive]="'header__item_active'" class="header__item" routerLink="list">List</button>
    <button [routerLinkActive]="'header__item_active'" class="header__item" routerLink="add">Add new</button>
  </div>

  <button (click)="logout()" [routerLinkActive]="'header__item_active'" class="header__item">Logout</button>
</nav>
