.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px;
  margin-bottom: 30px;
  border: 1px solid #7A5CFA;
}

.header__box {
  display: flex;
  flex-direction: row;
}

.header__item {
  padding: 10px 20px;
  width: fit-content;
  background-color: #FFFFFF;
  color: #7A5CFA;
  border: 1px solid #7A5CFA;
  border-radius: 5px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  &_active {
    background-color: #7A5CFA;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
  }

  &:first-child {
    margin-right: 40px;
  }

  &:hover {
    cursor: pointer;
  }
}
