.item-form {
  width: 60%;
}

.item-form__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.item-form__label {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
  margin-bottom: 8px;
}

.item-form__input {
  height: 52px;
  width: 100%;
  padding: 16px;
  border: 1px solid #D9D9D9;
  border-radius: 7px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  &.ng-pristine:focus, &.ng-valid:focus {
    border: 2px solid #7A5CFA;
  }

  &_invalid {
    border: 2px solid #EB5757;
  }

  &::placeholder {
    color: #9D9D9D;
  }
}

.item-form__error-message {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #EB5757;
  margin-top: 8px;
}

.item-form-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__button {
    width: fit-content;
    border-radius: 5px;
    padding: 12px 36px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &_submit {
      background-color: #7A5CFA;
      color: #FFFFFF;
      border: none;
    }

    &_cancel {
      background-color: #FFFFFF;
      color: #7A5CFA;
      border: 1px solid #7A5CFA;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
