<form class="item-form" [formGroup]="itemForm" #formVar="ngForm" (ngSubmit)="submitForm()">
  <div class="item-form__row">
    <span class="item-form__label">Full Name</span>
    <input
      [ngClass]="{'item-form__input_invalid': fullNameControl.invalid && (formVar.submitted || fullNameControl.touched || fullNameControl.dirty)}"
      class="item-form__input"
      formControlName="fullName"
      placeholder="Enter name"
    >
    <div *ngIf="fullNameControl.invalid && (formVar.submitted || fullNameControl.touched || fullNameControl.dirty)">
      <span
        *ngIf="fullNameControl.hasError('required')"
        class="item-form__error-message"
      >
        Full name is required
      </span>
      <span
        *ngIf="fullNameControl.hasError('minlength')"
        class="item-form__error-message"
      >
        Full Name is too short
      </span>
    </div>
  </div>

  <div class="item-form__row">
    <span class="item-form__label">Email</span>
    <input
      [ngClass]="{'item-form__input_invalid': emailControl.invalid && (formVar.submitted || emailControl.touched || emailControl.dirty)}"
      class="item-form__input"
      formControlName="email"
      placeholder="Enter email"
    >
    <div *ngIf="emailControl.invalid && (formVar.submitted || emailControl.touched || emailControl.dirty)">
      <span
        *ngIf="emailControl.hasError('required')"
        class="item-form__error-message"
      >
        Email is required
      </span>
      <span
        *ngIf="emailControl.hasError('pattern')"
        class="item-form__error-message"
      >
        Invalid email (e.g. johnsmith12@example.com)
      </span>
    </div>
  </div>

  <div class="item-form__row">
    <span class="item-form__label">Phone number</span>
    <!-- TODO: Add mask for phoneNumber -->
    <input
      [ngClass]="{'item-form__input_invalid': phoneNumberControl.invalid && (formVar.submitted || phoneNumberControl.touched || phoneNumberControl.dirty)}"
      class="item-form__input"
      formControlName="phoneNumber"
      placeholder="Enter phone number"
    >
    <div *ngIf="phoneNumberControl.invalid && (formVar.submitted || phoneNumberControl.touched || phoneNumberControl.dirty)">
      <span
        *ngIf="phoneNumberControl.hasError('required')"
        class="item-form__error-message"
      >
        Phone number is required
      </span>
      <span
        *ngIf="phoneNumberControl.hasError('minlength') || phoneNumberControl.hasError('pattern')"
        class="item-form__error-message"
      >
        Phone must have view like: +380 xx xxx xx xx and length of 12 numbers
      </span>
    </div>
  </div>

  <div class="item-form__row">
    <span class="item-form__label">Age</span>
    <!-- TODO: Add mask for age number -->
    <input
      [ngClass]="{'item-form__input_invalid': ageControl.invalid && (formVar.submitted || ageControl.touched || ageControl.dirty)}"
      class="item-form__input"
      formControlName="age"
      placeholder="Enter age"
      type="number"
    >
    <div *ngIf="ageControl.invalid && (formVar.submitted || ageControl.touched || ageControl.dirty)">
      <span
        *ngIf="ageControl.hasError('required')"
        class="item-form__error-message"
      >
        Age is required
      </span>
    </div>
  </div>

  <div class="item-form-actions">
    <button (click)="cancelAdd()" class="item-form-actions__button item-form-actions__button_cancel">
      Cancel
    </button>

    <button class="item-form-actions__button item-form-actions__button_submit" type="submit">
      <span *ngIf="!itemId">Create</span>
      <span *ngIf="itemId">Save</span>
    </button>
  </div>
</form>
