.login-wrapper {
  width: 564px;
  margin: 0 auto;
  display: grid;
  height: 100vh;
  place-items: center;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-form__header {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #000000;
  margin-bottom: 32px;
  text-align: center;
}

.login-form__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.login-form__label {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
  margin-bottom: 8px;
}

.login-form__input-wrapper {
  position: relative;
}

.login-form__input {
  height: 52px;
  width: 564px;
  padding: 16px;
  border: 1px solid #D9D9D9;
  border-radius: 7px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  &::placeholder {
    color: #9D9D9D;
  }

  &.ng-pristine:focus, &.ng-valid:focus {
    border: 2px solid #7A5CFA;
  }

  &_invalid {
    border: 2px solid #EB5757;
  }
}

.login-form__pass-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  margin: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.login-form__error-message {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #EB5757;
  margin-top: 8px;

  &_incorrect {
    text-align: center;
    font-size: 16px;
  }
}

.login-form__incorrect-message {
  font-style: normal;
  font-weight: 400;
  color: #EB5757;
  text-align: center;
  font-size: 16px;
  margin-bottom: 16px;
}

.login-form__submit {
  align-self: center;
  width: fit-content;
  background-color: #7A5CFA;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 16px 48px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
