<div class="login-wrapper">
  <form
    [formGroup]="loginForm"
    #formVar="ngForm"
    class="login-form"
  >
    <h1 class="login-form__header">Login</h1>

    <div class="login-form__row">
      <span class="login-form__label">User Name</span>
      <input
        [ngClass]="{'login-form__input_invalid': userNameControl.invalid && (formVar.submitted || userNameControl.touched || userNameControl.dirty)}"
        class="login-form__input"
        formControlName="userName"
      >
      <div *ngIf="userNameControl.invalid && (formVar.submitted || userNameControl.touched || userNameControl.dirty)">
        <span
          *ngIf="userNameControl.hasError('required')"
          class="login-form__error-message"
        >
          User name is required
        </span>
      </div>
    </div>

    <div class="login-form__row">
      <span class="login-form__label">Password</span>
      <div class="login-form__input-wrapper">
        <input
          [ngClass]="{'login-form__input_invalid': passwordControl.invalid && (formVar.submitted || passwordControl.touched || passwordControl.dirty)}"
          class="login-form__input"
          [type]="isPassShown ? 'text' : 'password'"
          formControlName="password"
        >
        <span (click)="showHidePass()" class="login-form__pass-icon">
          <mat-icon *ngIf="!isPassShown">visibility</mat-icon>
          <mat-icon *ngIf="isPassShown">visibility_off</mat-icon>
        </span>
      </div>
      <div *ngIf="passwordControl.invalid && (formVar.submitted || passwordControl.touched || passwordControl.dirty)">
        <span
          *ngIf="passwordControl.hasError('required')"
          class="login-form__error-message"
        >
          Password is required
        </span>
      </div>
    </div>

    <span
      *ngIf="isIncorrectMessage"
      class="login-form__incorrect-message"
    >
      Incorrect username or password
    </span>

    <button
      (click)="loginSubmit()"
      class="login-form__submit"
    >
      Log in
    </button>
  </form>
</div>
